@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html, body {
  font-family: 'Roboto', sans-serif;
}

.app {
  text-align: center;
}

.title-container {
  .title {
    font-size: 44px;
  }
  
  width: 300px;
  
  margin: 20px auto;
  padding: 16px;
  
  border: 3px solid grey;
  border-radius: 16px;
}

.color-input,
.show-color {
  height: 120px;
  width: 180px;

  border-radius: 5px;
}

.colors-container {
  display: flex;
  justify-content: center;
}

.show-color {
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}